$primary: #2C2C2C;
$secondary: #88BBBC;
$secondary-light: #DCEAEB;
$secondary-dark:#055158;
$secondary-contrast-text: #fff;
$contrast-text:#FEFEFE;
$text-primary: #373737;
$secondary: #505050;
$contrast-background: #65FFC9;